.Top-nav {
  background-color: black;
  padding: 1px;
}

.Top-nav h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.Landing-title {
  text-align: center;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

.Form {
  text-align: center;
}

Form {
  display: inline-block;
}

Input {
  height: 50px;
  width: 500px;
}

Input, Input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}

Input[type="text"] {
  font-size:24px;
}
